* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

input {
    appearance: none;
    outline: none;
}

body {
    background-color: #021121;
    font-family: 'Roboto Flex', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.intro {
    height: 100vh;
    min-height: 800px;
    overflow: hidden;
    position: relative;
}

.intro > .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.content {
    padding: 77px 0 50px;
    margin: 0 0 0 269px;
    z-index: 2;
}

.logo  svg {
    width: 612px;
    height: 283px;
}

.title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
    color: #fff;
    margin: 20px 0 127px;
    user-select: none;
    max-width: 672px;
}

.title span {
    color: #FF59E3;
}

.subscribe__title {
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 38px;
    line-height: 110%;
    color: #fff;
    display: inline-block;
    margin-bottom: 22px;
    user-select: none;
}

.subscribe__title span {
    color: #C6FF23;
}

.subscribe__vector {
    position: absolute;
    right: -63px;
    top: -86px;
}

.subscribe__wrap {
    position: relative;
    display: flex;
    z-index: 33;
}

.subscribe__wrap input {
    background: #0B304B;
    width: 321px;
    height: 52px;
    padding: 18px 22px;
    border: 1px solid #0B304B;
    user-select: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 89.8%;
    transition: border 0.3s ease-in-out;
}

.subscribe__wrap input:focus, .subscribe__wrap input:hover {
    border: 1px solid #C6FF23;
}

.subscribe__wrap input:focus::placeholder {
    opacity: 0;
}

.subscribe__wrap input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 89.8%;
    color: #C4FF1C;
}

.subscribe.invalid input{
    border: 1px solid #FF5977;
}

.subscribe.valid input {
    border: 1px solid #0B304B;
}

.subscribe__checking {
    font-weight: 500;
    font-size: 18px;
    line-height: 89.8%;
    margin-top: 7px;
    display: block;
    position: absolute;
    top: 100%;
}


.btn {
    width: 226px;
    height: 52px;
    background-color: #C6FF23;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 24px;
    line-height: 89.8%;
    text-align: center;
    text-transform: uppercase;
    color: #021121;
    border: none;
    cursor: pointer;
    user-select: none;
}

.btn.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.socials {
    position: relative;
}

.socials__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    width: 310px;
    margin-top: 89px;
}

.socials__list::before {
    content: '';
    width: 310px;
    height: 54px;
    box-shadow: 0 0 15px #ffffff, 0 0 40px #ffffff;
    transform: rotate(-2deg) translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 8px;
    z-index: 1;
    background-color: #fff;
}

.socials__list-vector-one {
    position: absolute;
    width: 5px;
    height: 36px;
    background: #fff;
    border-radius: 21px;
    display: block;
    left: 129px;
    top: 29px;
}

.socials__list-vector-two {
    position: absolute;
    width: 4px;
    height: 69px;
    background: #fff;
    border-radius: 21px;
    display: block;
    z-index: -1;
    right: 56px;
    top: 21px;
}

.socials__item {
    z-index: 1;
}

.socials__item a {
    display: flex;
    align-items: center;
}

._discord path, ._linkin path, ._telegram path, ._twitter path, ._medium path {
    transition: all 0.2s ease-in-out;
}

._discord {
    margin-top: 5px;
}

._discord:hover path {
    fill: #5C6DFF;
}

._linkin:hover path {
    fill: #0077B5;
}

._telegram:hover path {
    fill: #0071FE;
}

._twitter:hover path {
    fill: #1C96E9;
}

._medium:hover path {
    fill: #FFC017;
}

.socials__bg {
    position: absolute;
    left: -35px;
    top: -68px;
    width: 344px;
    height: 193px;
}

.girl-img {
    position: absolute;
    right: 47px;
    top: 110px;
    width: 813px;
    height: 1893px;
    pointer-events: none;
}

.girl-img img {
    width: 100%;
}

.blur-effect__one {
    background: #0F3457;
    filter: blur(678px);
    width: 2282px;
    height: 2282px;
    display: block;
    left: -823px;
    top: calc(100% - 660px);
    position: absolute;
    z-index: -2;
}

.blur-effect__two {
    background: #00FFF0;
    filter: blur(424px);
    width: 1327px;
    height: 1327px;
    display: block;
    top: calc(100% - 182px);
    left: -345px;
    position: absolute;
    z-index: -1;
}

.intro-vector {
    position: absolute;
    pointer-events: none;
}

.intro-vector__line {
    width: 14px;
    height: 200px;
    position: absolute;
    transform: rotate(-25deg);
    left: 0;
    top: 0;
}

.intro-vector__line--pink {
    background: linear-gradient(182.84deg, rgba(255, 30, 150, 0) 50.83%, #FF1E96 132.44%);
}

.intro-vector__line--blue {
    background: linear-gradient(182.84deg, rgba(30, 214, 255, 0) 50.83%, #1ED6FF 132.44%);
}

.intro-vector__line--green {
    background: linear-gradient(182.84deg, rgba(30, 214, 255, 0) 50.83%, #C4FF1E 132.44%);
}

.intro-one .intro-vector__line-one {
    top: 215px;
    left: 102px;
}

.intro-three .intro-vector__line-one {
    left: -70px;
    top: -154px;
}

.intro-one .intro-vector__line-two {
    left: 20px;
    top: -90px;
}

.intro-one__img {
    width: 240px;
    height: 309px;
}

.intro-one {
    right: 1000px;
    top: -300px;
    transition: all .5s ease-in-out;
    animation: vector1 linear infinite;
    animation-duration: 15s;
}

.intro-two__img {
    width: 391px;
    height: 503px;
}

.intro-two {
    right: 300px;
    top: -310px;
    animation: vector2 15s linear infinite;
}

.intro-three__img {
    width: 163px;
    height: 210px;
}

.intro-three {
    right: 750px;
    top: -100%;
    animation: vector3 15s linear infinite;
    animation-delay: 8s;
}

.intro-four__img {
    width: 680px;
    height: 876px;
    filter: blur(35px);
}

.intro-four {
    right: 40px;
    top: 100px;
    animation: vector4 50s linear infinite;
    animation-delay: 4s;
    opacity: 0;
}

.intro-five__img {
    width: 760px;
    height: 981px;
    filter: blur(35px);
    mix-blend-mode: normal;
}

.intro-five {
    left: -557px;
    top: 130px;
    animation: vector5 50s linear infinite;
}

.intro-six__img {
    width: 760px;
    height: 981px;
    filter: blur(35px);
    mix-blend-mode: normal;
}

.intro-six {
    left: -457px;
    top: 0;
    animation: vector6 50s linear infinite;
    animation-delay: 9s;
    opacity: 0;
}

.intro-seven__img {
    width: 240px;
    height: 309px;
}

.intro-seven {
    right: 1300px;
    top: -100%;
    transition: all .5s ease-in-out;
    animation: vector7 20s linear infinite;
    animation-delay: 1s;
}

.intro-eight__img {
    width: 163px;
    height: 210px;
    filter: blur(5px);
}

.intro-eight {
    right: 640px;
    top: -50%;
    animation: vector4 20s linear infinite;
    animation-delay: 7s;
    opacity: 0;
}

.intro-nine__img {
    width: 760px;
    height: 981px;
    filter: blur(35px);
    mix-blend-mode: normal;
}

.intro-nine {
    left: -357px;
    top: 0;
    animation: vector6 50s linear infinite;
    animation-delay: 25s;
    opacity: 0;
}

.intro-ten__img {
    width: 760px;
    height: 981px;
    filter: blur(35px);
    mix-blend-mode: normal;
}

.intro-ten {
    left: -457px;
    top: 0;
    animation: vector6 50s linear infinite;
    animation-delay: 39s;
    opacity: 0;
}

.intro-eleven__img {
    width: 240px;
    height: 309px;
}

.intro-eleven {
    right: 1000px;
    top: 0;
    animation: vector1 15s linear infinite;
    animation-delay: 6s;
    opacity: 0;
}

.intro-twelve__img {
    width: 240px;
    height: 309px;
}

.intro-twelve {
    right: 700px;
    top: 0;
    animation: vector3 15s linear infinite;
    animation-delay: 24s;
    opacity: 0;
}



@keyframes vector1 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    20% {
        opacity: 0.5;
    }


    85% {
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        right: 300px;
        top: 90%;
        opacity: 0;
    }
}

@keyframes vector2 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    20% {
        opacity: 0.5;
    }

    75% {
        opacity: 1;
    }

    100% {
        transform: translateY(250%);
        right: -400px;
        opacity: 0;
    }
}

@keyframes vector3 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    15% {
        opacity: 0.5;
    }

    75% {
        opacity: 1;
    }

    100% {
        transform: translateY(250%);
        right: -520px;
        opacity: 0;
        top: 100%;
    }
}

@keyframes vector4 {
    0% {
        transform: translateY(0);
    }

    2% {
        opacity: 0.5;
    }

    95% {
        opacity: 1;
    }

    100% {
        transform: translateY(250%);
        right: -220px;
        opacity: 0;
        top: 100%;
    }
}

@keyframes vector5 {
    0% {
        transform: translateY(0);
    }

    2% {
        opacity: 0.5;
    }

    25% {
        left: -100px;
    }

    50% {
        left: -150px;
    }

    95% {
        opacity: 1;
    }

    100% {
        transform: translateY(250%);
        left: -200px;
        opacity: 0;
        top: 100%;
    }
}

@keyframes vector6 {
    0% {
        transform: translateY(0);
    }

    1% {
        opacity: 0.5;
    }

    4% {
        opacity: 1;
    }

    25% {
        left: -100px;
    }

    50% {
        left: -150px;
    }

    95% {
        opacity: 1;
    }

    100% {
        transform: translateY(250%);
        left: -200px;
        opacity: 0;
        top: 100%;
    }
}

@keyframes vector7 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    20% {
        opacity: 0.5;
    }


    85% {
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        right: -200px;
        top: 90%;
        opacity: 0;
    }
}

@keyframes mobileAnim {
    5% {
        opacity: 0.5;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        right: 0;
        top: 90%;
    }
}
/* ADAPTIVE */

@media (max-width: 1780px) {
    .content {
        margin: 0 0 0 150px;
    }
}

@media (max-width: 1650px) {
    .logo svg {
        width: 412px;
        height: 190px;
    }

    .title {
        font-size: 32px;
        max-width: 560px;
    }

    .subscribe__title {
        font-size: 24px;
    }

    .subscribe__wrap input {
        width: 292px;
        height: 48px;
    }

    .btn {
        width: 208px;
        height: 48px;
        font-size: 20px;
    }

    .girl-img {
        width: 509px;
        height: 1185px;
    }

    .intro {
        min-height: 720px;
    }

    .intro-eight {
        right: 865px;
    }

}

@media (max-width: 1300px) {
    .title {
        margin: 13px 0 78px;
    }

    .subscribe__vector {
        right: -21px;
        top: -34px;
        width: 55px;
        height: 42px;
    }

    .subscribe__title {
        margin-bottom: 17px;
    }

    .socials__list {
        margin-top: 79px;
    }

    .socials__item svg {
        max-width: 24px;
    }

    .socials__list::before {
        width: 290px;
    }

    .girl-img {
        right: 24px;
    }

    .intro-one__img {
        width: 151px;
        height: 195px;
    }

    .intro-one {
        right: 711px;
    }

    .intro-one .intro-vector__line-one {
        display: none;
    }

    .intro-vector__line {
        width: 9px;
        height: 131px;
    }

    .intro-one .intro-vector__line-two {
        left: 85px;
        top: -90px;
    }

    .intro-two__img {
        width: 255px;
        height: 329px;
    }

    .intro-two {
        right: 281px;
    }

    .intro-three__img {
        width: 106px;
        height: 137px;
    }

    .intro-three {
        right: 186px;
    }

    .intro-three .intro-vector__line-one {
        left: -70px;
        top: -128px;
    }

    .intro-four__img {
        width: 444px;
        height: 572px;
        filter: blur(35px);
    }

    .intro-five__img {
        width: 497px;
        height: 641px;
    }

    .intro-five {
        left: -397px
    }

    .intro-seven {
        right: 645px;
    }

    .intro-eight {
        right: 600px;
        top: -100%;
    }

    .blur-effect__one {
        background: #0F3457;
        filter: blur(466px);
        width: 1568px;
        height: 1568px;
        display: block;
        left: -529px;
        top: calc(100% - 400px);
        position: absolute;
        z-index: -2;
    }

    .blur-effect__two {
        filter: blur(291px);
        width: 912px;
        height: 912px;
        top: calc(100% - 71px);
        left: -200px;
        position: absolute;
        z-index: -1;
    }

}

@media (max-width: 1200px) {
    .content {
        margin: 0 0 0 55px;
    }

    .girl-img {
        width: 359px;
        height: 1025px;
    }
}

@media (max-width: 992px) {
    .title {
        font-size: 28px;
        max-width: 545px;
    }

    .subscribe__title {
        font-size: 22px;
    }

    .subscribe__wrap input {
        width: 240px;
    }

    .btn {
        width: 154px;
        font-size: 16px;
    }

    .girl-img {
        width: 259px;
        height: 741px;
    }
}

@media (max-width: 768px) {
    .girl-img {
        position: relative;
        right: initial;
        top: initial;
        width: 265px;
        height: 618px;
        display: block;
        margin: 0 0 62px auto;
    }

    .intro {
        height: initial;
        min-height: initial;
    }

    .intro > .container {
        flex-direction: column;
        padding: 0 40px;
    }

    .logo svg {
        width: 335px;
        height: 155px;
    }

    .content {
        margin: 0;
        padding: 69px 0 77px;
    }

    .title {
        font-size: 26px;
        margin: 9px 0 71px;
    }

    .subscribe__title {
        font-size: 20px;
        margin-bottom: 33px;
    }

    .subscribe__wrap {
        flex-direction: column;
    }

    .subscribe__wrap input {
        width: 100%;
        margin-bottom: 12px;
    }

    .btn {
        width: 100%;
        font-size: 20px;
    }

    .subscribe__checking {
        top: initial;
        position: relative;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .socials {
        position: absolute;
        bottom: 87px;
        z-index: 22;
        left: 50%;
        transform: translateX(-50%);
    }

    .content::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 259px;
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(2, 17, 33, 0) 0%, #021121 50.52%);
        z-index: 2;
    }

    .intro-one {
        top: 0;
        right: 600px;
        animation: mobileAnim 15s linear infinite;
    }

    .intro-one__img {
        width: 137px;
        height: 177px;
    }

    .intro-two__img {
        width: 231px;
        height: 298px;
    }

    .intro-two {
        top: 0;
        right: 900px;
        animation: mobileAnim 15s linear infinite;
    }

    .intro-three {
        right: 500px;
        top: 0;
        animation: mobileAnim 15s linear infinite;
        animation-delay: 3s;
        opacity: 0;
    }

    .intro-twelve {
        animation-delay: 13s;
    }

    .intro-five {
        animation: mobileAnim 15s linear infinite;
        animation-delay: 9s;
        opacity: 0;
        top: 0;
        left: initial;
        right: 600px;
    }

    .intro-four, .intro-six, .intro-seven, .intro-eight, .intro-nine, .intro-ten {
        display: none;
    }

    .blur-effect__one {
        background: #0F3457;
        filter: blur(466px);
        width: 687px;
        height: 687px;
        display: block;
        left: -428px;
        top: 278px;
        position: absolute;
        z-index: -2;
    }

    .blur-effect__two {
        filter: blur(291px);
        width: 399px;
        height: 399px;
        top: 421px;
        left: -284px;
        position: absolute;
        z-index: -1;
    }

}

@media (max-width: 350px) {
    .logo svg {
        width: 100%;
        height: 100%;
    }
}